@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- Hero.jsx ---------- */
.hero-sect {
  position: relative;
  min-height: 700px;
}

.title {
  text-align: center;
  color: #c2c0c0;
  font-family: 'Baloo 2', 'Inter';
  padding-top: 100px;
  padding-bottom: 50px;
}

.hero-div {

  width: 100%;
  background-color: rgba(76, 175, 80, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 20s;
}

.hero-div:hover {
  /* background-color: aqua; */
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  margin: 50px;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #c2c0c0;
  text-decoration: none;
  color: #c2c0c0;
  border-radius: 10%;
  border-width: 6px;
  font-size: 2em;
  font-family: 'Baloo 2', 'Inter';
}

#dev {
  background-color: #003c4a;
}

#blog {
  background-color: #21005e;
}

#sounds {
  background-color: #4f005b;
}

/* ----- Particles.jsx ---------- */
.particles-sect {
  /* position: relative;
  width: 100%;
  height: 100%; */
  width: 100%;
  height: 200px;
  background-color: #437993;
  background-repeat: no-repeat;
  position: absolute;
  display: block;

}

.particles {
  position: absolute;
  height: 300px;
  width: 50%;
}

/* ----- Sounds.jsx ---------- */
.sound-sect {
  height: 200px;
  position: relative;
  color: #c2c0c0;
  background-color: black;
  z-index: 1;
  width: 100%;
  display: flex;
}

h2 {
  color: #c2c0c0
}

.sound {
  height: 100%;
  width: 16.6666667%;
  border-style: solid;
  border-color: white;
}

#s1 {
  background-color: #B4EDD2;
}

#s2 {
  background-color: #A0CFD3;
}

#s3 {
  background-color: #97B2C7;
}

#s4 {
  background-color: #8D94BA;
}

#s5 {
  background-color: #9A7AA0;
}

#s6 {
  background-color: #87677B;
}



/* ----- Dev.jsx ---------- */

.dev-sect {
  height: 500px;
  position: relative;
  color: #c2c0c0;
  background-color: black;
  z-index: 1;
  width: 100%;
}

/* ----- Blog.jsx ---------- */

.blog-sect {
  height: 500px;
  position: relative;
  color: #c2c0c0;
  background-color: black;
  z-index: 1;
  width: 100%;
}

/* ----- Dev2.js ---------- */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 500px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  /* background-image: url("/Users/matthewlee/projects/next-portfolio/public/POLP.png"); */
}